main {
  min-height: calc(100vh - 80px);
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

@media (max-height: 500px) and (orientation: landscape) {
  main {
    min-height: calc(100vh - 60px);
  }
}
